nav {
    background-color: #b6cab8;
    margin: 0;
}
nav ul{
    margin: 0;
    padding: 1em;
    display: flex;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 1em 0.5em;
    border: 1px solid;
    background-color: #c9e1cb;
}
nav a:hover{
    background-color: #5e9b5e;
}
div#gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}
figure {
    padding: 6px;
    background-color: #b6cab8;
    border: 2px solid #000000;
    border-radius: 1%;
    margin: 2%;
    box-shadow: none;
}
figcaption {
    text-align:center
}
a:link {
    text-decoration: none;
    color: #000000;
}
body {
    background-color: #7A9F7D;
    font-family: "Karla";
}
a:visited {
    color: #000000;
}
h1, h2 {
    font-family: "Lexend";
    color: #1D261D;
}
main {
    flex-flow: wrap;
    flex-direction: row;
}
